.textBox01 {
    display: inline-block;
    width: 100%;
    box-sizing: border-box;
}

.textBox01 label {
    font-size: 70%;
    color: #808080;
}

.textBox01 input {
    width: 100%;
    margin-top: 5px;
    padding: 4px 8px;
    min-height: 32px;
    border: 1px solid #E6E6E6;
    border-radius: 6px;
    box-sizing: border-box;
}

.textBox01 input:focus {
    outline-style: solid;
    outline-color: #87CEFA;
    outline-width: 1px;
}